<ion-view title="Agregar Vehiculo" id="page3" ng-controller="DBControllerAgregarVehiculo">
  <ion-nav-buttons side="right" class="has-header" >
    <button ui-sref="tabsController.listaDeVehiculos()" class="button home-button buttons button-clear header-item">
      <i class="icon ion-android-home"></i> <span class="back-text"></span>
    </button>
  </ion-nav-buttons>
 <ion-content padding="true" class="has-header animated slideInRight">
    <div class="row">
      <div class="col col-100">
        <div style="margin: 0px; text-align: center;">
          <img id="foto" src="img/car_agregar.png" style="height: 200px; width: 200px; vertical-align: middle; border-radius: 100px">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-50">
        <button class="button button-full button-calm icon ion-camera" ng-click="tomarFoto()"></button>
      </div>
      <div class="col col-50">
        <button class="button button-full button-calm icon ion-images" ng-click="fotoGaleria()"></button>
      </div>
    </div>

    <form id="agregarVehiculo-form1" class="list" name="newVehicleForm" ng-model="formulario">
    <label >
      <ion-md-input placeholder="Placa" hightlight-color="assertive" ng-maxlength="8" ng-minlength="6" ng-required="true" type="text" id="placa" ng-model="newVehicle.newPlaca" ng-model-options="{ updateOn: 'keyup' }" name="newPlaca" ></ion-md-input>
    </label class="item item-input">
      <!-- <label class="item item-input item-md-label2" id="agregarVehiculo-input2" style="margin-top: 8px" placeholder="Placa" highlight-color="assertive" type="text"> -->
        <!-- <input class="md-input" type="text" ng-maxlength="10" ng-minlength="5" ng-required="true" type="text" id="agregarVehiculo-input2b" ng-model="newVehicle.newPlaca" ng-model-options="{ updateOn: 'blur' }" name="newPlaca" > -->
        <!-- <span class="input-label" aria-label="Placa">Placa</span> -->
        <!-- <div class="highlight hightlight-calm"> </div> -->
      <!-- </label> -->
      <span id="mensaje"></span>
      <span class="messages" ng-show="newVehicleForm.$submitted || newVehicleForm.newPlaca.$touched">
        <span ng-show="newVehicleForm.newPlaca.$error.required">La placa es un campo requerido.</span>
        <span ng-show="newVehicleForm.newPlaca.$error.minlength || newVehicleForm.newPlaca.$error.maxlength">La placa debe tener entre 6 y 8 caracteres.</span>
      </span>
      <ion-md-input placeholder="Año" hightlight-color="assertive" ng-maxlength="4" ng-min="1950" ng-max="2017" ng-minlength="4" type="number" placeholder="" ng-required="false" id="agregarVehiculo-input6b" ng-model="newVehicle.newYear" ng-model-options="{ updateOn: 'blur' }" name="newYear"></ion-md-input>
      <span class="messages" ng-show="newVehicleForm.$submitted || newVehicleForm.newYear.$touched">
        <span ng-show="newVehicleForm.newYear.$error.minlength || newVehicleForm.newYear.$error.maxlength">El año debe tener 4 digitos.</span>
        <span ng-show="newVehicleForm.newYear.$error.min || newVehicleForm.newYear.$error.max">El año debe ser valido.</span>
      </span>

      <label class="item item-select custom-input" id="agregarVehiculo-input3" style="margin-top: 8px; height: 50px; padding-top: 10px">
        <span class="input-label">Marca</span>
        <select ng-model="newVehicle.idMarca" >
          <option  ng-repeat="marca in registrosPlacasVehiculos | orderBy:'nombre'" value="{{marca.id}}">{{marca.nombre}}</option>
        </select>
      </label>
      <ion-md-input placeholder="Alias" hightlight-color="assertive" ng-maxlength="20" ng-minlength="1" ng-required="true" type="text" placeholder="" id="agregarVehiculo-input5b" ng-model="newVehicle.newAlias" ng-model-options="{ updateOn: 'blur' }" name="newAlias"></ion-md-input>
      <span class="messages" ng-show="newVehicleForm.$submitted || newVehicleForm.newAlias.$touched">
        <span ng-show="newVehicleForm.newAlias.$error.required">El Alias es un campo requerido.</span>
        <span ng-show="newVehicleForm.newAlias.$error.minlength || newVehicleForm.newAlias.$error.maxlength">El alias debe tener entre 3 y 20 caracteres.</span>
      </span>
      <ion-md-input placeholder="Kilometraje" hightlight-color="assertive" type="number" ng-maxlength="7" ng-minlength="1" placeholder="" ng-required="true" id="agregarVehiculo-input5b" ng-model="newVehicle.newKilometraje" ng-model-options="{ updateOn: 'blur' }" name="newKilometraje"></ion-md-input>
      <span class="messages" ng-show="newVehicleForm.$submitted || newVehicleForm.newKilometraje.$touched">
        <span ng-show="newVehicleForm.newKilometraje.$error.required">El Kilometraje es un campo requerido.</span>
        <span ng-show="newVehicleForm.newKilometraje.$error.minlength || newVehicleForm.newKilometraje.$error.maxlength">El Kilometraje debe tener maximo 7 digitos.</span>
      </span>

      <label class="item item-select custom-input" id="agregarVehiculo-select1" style="margin-top: 8px; height: 50px; padding-top: 10px">
        <span class="input-label">Tipo</span>
        <select ng-model="newVehicle.idTipo" name="newTipo">
          <option  ng-repeat="tipo in registrosTiposVehiculos" value="{{tipo.id}}">{{tipo.nombre}}</option>
        </select>
      </label>


      <label class="item item-select custom-input" id="agregarVehiculo-select5" style="margin-top: 8px; height: 50px; padding-top: 10px">
        <span class="input-label">Color</span>
        <select ng-model="newVehicle.newColor" name="newColor">
          <option ng-repeat="color in registrosColoresVehiculos " value="{{color.id}}">{{color.nombre}}</option>
        </select>
      </label>

      <h3 id="agregarVehiculo-heading1" style="color:#000000;">Servicios del Vehiculo</h3>
      <div id="nuevoVehiculoServicios" ng-repeat="serv in serviciosParaAgregar" >
            <div class="row">
              <div class = "col col-75">
                <h5>{{serv.nombre}}</h5>
              </div>
              <div class = "col col-12">
                <a ui-sref="editarServicioNuevo()" class="icon ion-android-settings" style="font-size: 30px; background-color: #FFFFFF; border:none; vertical-align: middle; color:#666666" ng-click="editarServicio('{{serv.nombre}}')"></a>
              </div>
              <div class = "col col-12">
                <a class="icon ion-trash-a" style="font-size: 30px; background-color: #FFFFFF; border:none; vertical-align: middle; color:#bfbfbf" ng-click="eliminarServicioDeLaLista('{{serv.nombre}}')"></a>
              </div>
            </div>
      </div id="nuevoVehiculoServicios">
      <button ui-sref="agregarServicioPersonalizado()" id="agregarVehiculo-button4" class="button button-stable button-block">Agregar Servicio Personalizado</button>
      <!-- <button ng-disabled="newVehicleForm.$invalid" ui-sref="tabsController.listaDeVehiculos()" id="botonAgregarVehiculo" ng-click="crearVehiculo()" class="button button-positive button-block">Agregar Vehiculo</button> -->
      <button ng-disabled="newVehicleForm.$invalid" ui-sref="tabsController.listaDeVehiculos()" id="botonAgregarVehiculo" ng-click="crearVehiculo()" class="button button-positive button-block">Agregar Vehiculo</button>

    </form>
    <div class="spacer" style="height: 5px;"></div>
  </ion-content>
</ion-view>
