<ion-view title="Agregar Vehiculo" id="page3" ng-controller="DBControllerAgregarVehiculo">
 <ion-content padding="true" class="has-header">
  <ion-nav-buttons side="right" class="has-header" >
    <button ui-sref="tabsController.listaDeVehiculos()" class="button home-button buttons button-clear header-item">
      <i class="icon ion-android-home"></i> <span class="back-text"></span>
    </button>
  </ion-nav-buttons>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <form id="agregarVehiculo-form1" class="list" name="newVehicleForm" novalidate>
      <label class="item item-input" id="agregarVehiculo-input2">
        <span class="input-label">Placa</span>
        <input ng-maxlength="10" ng-minlength="5" ng-required="true" type="text" placeholder="" id="agregarVehiculo-input2b" ng-model="newVehicle.newPlaca" name="newPlaca">
      </label>
      <label class="item item-input" id="agregarVehiculo-input3">
        <span class="input-label">Marca</span>
        <input ng-maxlength="20" ng-minlength="3" ng-required="false" type="text" placeholder="" id="agregarVehiculo-input3b" ng-model="newVehicle.newMarca" name="newMarca">
      </label>
      <label class="item item-input" id="agregarVehiculo-input5">
        <span class="input-label">Alias</span>
        <input ng-maxlength="20" ng-minlength="1" ng-required="true" type="text" placeholder="" id="agregarVehiculo-input5b" ng-model="newVehicle.newAlias" name="newAlias">
      </label>
      <label class="item item-input" id="agregarVehiculo-input5">
        <span class="input-label">Kilometraje</span>
        <input type="number" ng-maxlength="7" ng-minlength="1" placeholder="" ng-required="true" id="agregarVehiculo-input5b" ng-model="newVehicle.newKilometraje" name="newKilometraje">
      </label>
      <label class="item item-select" id="agregarVehiculo-select1">
        <span class="input-label">Tipo</span>
        <select ng-model="newTipo" name="newTipo" ng-required="true">
          <option value="automovil" selected>Automovil</option>
          <option value="motocicleta">Motocicleta</option>
          <option value="bicicleta">Bicicleta</option>
          <option value="camion">Camion</option>
          <option value="otro">Otro</option>
        </select>
      </label>
      <label class="item item-input" id="agregarVehiculo-input6">
        <span class="input-label">Año</span>
        <input ng-maxlength="4" ng-minlength="4" type="number" placeholder="" ng-required="false" id="agregarVehiculo-input6b" ng-model="newVehicle.newYear" name="newYear">
      </label>
      <label class="item item-input" id="agregarVehiculo-input7">
        <span class="input-label">Color</span>
        <input ng-maxlength="20" ng-minlength="3" type="text" placeholder="" ng-required="false" id="agregarVehiculo-input7b" ng-model="newVehicle.newColor" name="newColor">
      </label>
      <h3 id="agregarVehiculo-heading1" style="color:#000000;">Servicios del Vehiculo</h3>
      <div id="nuevoVehiculoServicios" ng-repeat="serv in serviciosParaAgregar">
            <div class="row">
              <div class = "col col-80">
                <h5>{{serv.nombre}}</h5>
              </div>
              <div class = "col col-10">
                <button ui-sref="editarServicioNuevo()" class="icon ion-android-settings" style="font-size: 25px; vertical-align: middle;" ng-click="editarServicio('{{serv.nombre}}')"></button>
              </div>
              <div class = "col col-10">
                <button class="icon ion-android-remove-circle" style="font-size: 25px; vertical-align: middle;" ng-click="eliminarServicioDeLaLista('{{serv.nombre}}')"></button>
              </div>
            </div>
        </div id="nuevoVehiculoServicios">
      <button ui-sref="agregarServicioPersonalizado()" id="agregarVehiculo-button4" class="button button-positive button-block">Agregar Servicio Personalizado</button>
      <div class="padding">
        <p ng-show="newVehicleForm.newPlaca.$error.required" >* La placa es un campo requerido </p>
        <p ng-show="newVehicleForm.newKilometraje.$error.required">* El Kilometraje es un campo requerido </p>
        <p ng-show="newVehicleForm.newAlias.$error.required">* El Alias es un campo requerido </p>
        <p ng-show="newVehicleForm.newKilometraje.$error.minlength || newVehicleForm.newKilometraje.$error.maxlength">* El kilometraje debe tener maximo 7 digitos </p>
        <p ng-show="newVehicleForm.newPlaca.$error.minlength || newVehicleForm.newPlaca.$error.maxlength">* La placa debe tener entre 10 y 5 caracteres </p>
        <p ng-show="newVehicleForm.alias.$error.minlength || newVehicleForm.alias.$error.maxlength">* El alias debe tener entre 20 y 3 caracteres </p>
        <p ng-show="newVehicleForm.newYear.$error.minlength || newVehicleForm.newYear.$error.maxlength">* El año debe tener 4 digitos </p>
        <p ng-show="newVehicleForm.newMarca.$error.minlength || newVehicleForm.newMarca.$error.maxlength">* La marca debe tener entre 20 y 3 caracteres </p>
        <p ng-show="newVehicleForm.newColor.$error.minlength || newVehicleForm.newColor.$error.maxlength">* El color debe tener entre 20 y 3 caracteres </p>
        <p ng-show="newVehicleForm.newTipo.$error.required">* Seleccione el Tipo </p>
      </div>
    </form>
    <button ng-disabled="newVehicleForm.$invalid" ui-sref="tabsController.listaDeVehiculos()" id="botonAgregarVehiculo" ng-click="crearVehiculo()" class="button button-balanced button-block">Agregar Vehiculo</button>
  </ion-content>
</ion-view>
