<ion-view title="Configuración de Visualización" id="page7">
  <ion-nav-buttons side="left" class="has-header">
    <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item">
      <i class="icon ion-android-arrow-back"></i> <span class="back-text"></span>
    </button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="configuraciNDeVisualizaciN-markdown21" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Visualizar vehículo mediante:</p>
    </div>
    <form id="configuraciNDeVisualizaciN-form17" class="list">
      <label class="item item-select" id="configuraciNDeVisualizaciN-select4">
        <span class="input-label"></span>
        <select>
          <option>Placa</option>
          <option>Marca</option>
          <option>Alias</option>
        </select>
      </label>
    </form>
    <div id="configuraciNDeVisualizaciN-markdown22" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Criterio de orden:</p>
    </div>
    <form id="configuraciNDeVisualizaciN-form18" class="list">
      <label class="item item-select" id="configuraciNDeVisualizaciN-select5">
        <span class="input-label"></span>
        <select>
          <option>Alfabetico</option>
        </select>
      </label>
    </form>
    <div id="configuraciNDeVisualizaciN-markdown23" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Tipo de fuente:</p>
    </div>
    <form id="configuraciNDeVisualizaciN-form19" class="list">
      <label class="item item-select" id="configuraciNDeVisualizaciN-select6">
        <span class="input-label"></span>
        <select>
          <option>Arial</option>
        </select>
      </label>
    </form>
    <div id="configuraciNDeVisualizaciN-markdown24" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Tamaño de fuente:</p>
    </div>
    <form id="configuraciNDeVisualizaciN-form20" class="list">
      <label class="item item-select" id="configuraciNDeVisualizaciN-select7">
        <span class="input-label"></span>
        <select>
          <option>11</option>
          <option>12</option>
          <option>13</option>
        </select>
      </label>
    </form>
    <button id="configuraciNDeVisualizaciN-button6" class="button button-positive button-block">Aceptar</button>
  </ion-content>
</ion-view>