<ion-view title="Editar Servicio Personalizado" id="editarServicioNuevo" ng-controller="DBEditarServicioNuevo" cache-view="false">
  <ion-nav-buttons side="left" class="has-header">
    <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item">
      <i class="icon ion-android-arrow-back"></i> <span class="back-text"></span>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header" >
    <div ng-repeat = "item in chosenService">
    <div id="agregarServicioPersonalizado-markdown17" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Nombre:</p> <h4> {{item.nombre}} </h4>
    </div>
    <br>
    <div id="agregarServicioPersonalizado-markdown18" class="show-list-numbers-and-dots">
      <p style="color:#000000;">El ciclo de los mantenimientos se realizará por:</p>
    </div>
    <form id="editarNuevoServicioPersonalizado" class="list" name="form13">
      <label class="item item-select custom-input" id="agregarServicioPersonalizado-select3">
        <span class="input-label"></span>
        <select id="ciclo" style="text-align: left;" ng-model="servicioEditado.tipo_intervalo" name="tipoCiclo" ng-required="true" ng-change="onChanged()">
          <option>Kilometraje</option>
          <option>Fecha</option>
        </select>
      </label>
      <span class="messages" ng-show="form13.$submitted || form13.tipoCiclo.$touched">
        <span ng-show="form13.tipoCiclo.$error.required">  El tipo de ciclo es un campo requerido.</span>
      </span>
      <br>
      <div id="agregarServicioPersonalizado-markdown19" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Se realiza cada:</p>
      </div>
        <div class="row">
        <div class="col col-60">
          <div class="item item-input custom-input" id="agregarServicioPersonalizado-input11">
            <input name="intervalo" type="number" placeholder="{{item.intervalo}}" ng-model="servicioEditado.intervalo" ng-required="true" ng-maxlength="10" >
          </div>
        </div>
        <div class="col col-30">
          <p id="km" style="margin-top: 10px"></p>
        </div>
      </div>
      <span class="messages" ng-show="form13.$submitted || form13.intervalo.$touched">
        <span ng-show="form13.intervalo.$error.required">  El Intervalo es un campo requerido.</span>
        <span ng-show="form13.intervalo.$error.maxlength">  El Intervalo debe tener máximo 10 digitos.</span>
      </span>
        <br>
      <div id="agregarServicioPersonalizado-markdown20" class="show-list-numbers-and-dots">
        <p id="kof" style="color:#000000;">Kilometraje de ultimo mantenimiento:</p>
      </div>
        <label class="item item-input custom-input" id="agregarServicioPersonalizado-input12">
          <input id="kilfec" name="ultimoRealizado" type="text" placeholder="{{item.ultimoRealizado}}" ng-model="servicioEditado.ultimoRealizado" ng-required="true">
        </label>
      <span class="messages" ng-show="form13.$submitted || form13.ultimoRealizado.$touched">
        <span ng-show="form13.ultimoRealizado.$error.required">  Campo requerido.</span>
      </span>

    <button ng-disabled="form13.$invalid" id="agregarServicioPersonalizado-button5" class="button button-positive button-block" ng-click="editarServicioParaAgregar()" ui-sref="tabsController.agregarVehiculo()">Editar Servicio</button>
    </form>
    </div>
  </ion-content>
</ion-view>
