<ion-view title="enviar correo" hide-nav-bar="true" id="page10">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div class="spacer" style="width: 300px; height: 39px;"></div>
    <div id="enviarCorreo-markdown28" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Ingrese correo electronico</p>
    </div>
    <form id="enviarCorreo-form22" class="list">
      <label class="item item-input" id="enviarCorreo-input15">
        <input type="text" placeholder="">
      </label>
    </form>
    <a ui-sref="nuevaContraseA()" id="enviarCorreo-button12" class="button button-positive button-block">Enviar</a>
  </ion-content>
</ion-view>