<ion-view title="Gastos" id="page4">
  <ion-nav-buttons side="left" class="has-header">
    <button ui-sref="tabsController.listaDeVehiculos()" class="button back-button buttons button-clear header-item">
      <i class="icon ion-android-arrow-back"></i> <span class="back-text"></span>
    </button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="gastos-form5" class="list">
      <label class="item item-select" id="gastos-select1">
        
        <select>
          <option>Semanal</option>
          <option>Mensual</option>
        </select>
      </label>
    </form>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center; margin-bottom: 10px;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="gastos-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Fecha inicio:</p>
    </div>
    <form id="gastos-form9" class="list">
      <label class="item item-input" id="gastos-input7">
        <input type="date" placeholder="">
      </label>
    </form>
    <div id="gastos-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Fecha fin:</p>
    </div>
    <form id="gastos-form10" class="list">
      <label class="item item-input" id="gastos-input8" style="margin-bottom: 15px">
        <input type="date" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>