<ion-view title="Información" id="page2" ng-controller="DBControllerOneVehiculo" cache-view="false">
  <ion-nav-buttons side="left" class="has-header">
    <button ui-sref="tabsController.listaDeVehiculos()" class="button back-button buttons button-clear header-item">
      <i class="icon ion-android-arrow-back"></i> <span class="back-text"></span>
    </button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header"  ng-repeat="item in selectedVehicle" style="margin-left: 10px; margin-right: 10px; padding-bottom: 10px">
    <div class="row">
      <div class = "col-60" style="margin: 0px; text-align: center;">
        <img src="img/car_agregar.png" style="vertical-align: middle;">
      </div>
      <div class = "col-30">
        <div style="padding-top: 15px; padding-left: 20px">
          <p><strong> Alias: </strong> {{item.alias}} </p>
          <p><strong> Placa: </strong> {{item.placa}} </p>
          <p><strong> Marca: </strong> {{item.marca}} </p>
          <p><strong> Año: </strong> {{item.year}} </p>
          <p><strong> Color: </strong> {{item.color}} </p>
        </div>
      </div>
    </div>
    <div id="informaciN-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Kilometraje:</strong>
      </p>
    </div>
    <div class="row">
      <div class="col col-50">
        <form id="actualizarKilometrajeForm" name="actualizarKilometrajeForm" class="list" novalidate>
          <label class="item item-input" id="informaciN-input3">
            <input ng-model="updatedKm.km" ng-min="{{item.kilometraje}}" name="updatedKm" ng-maxlength="7" type="number" ng-required="true" placeholder="{{item.kilometraje}}">
          </label>
        </form>
      </div>
      <div class="col col-50">
        <button class="button ion-ios-speedometer" ng-click="actualizarKilometraje('{{item.alias}}')" ng-disabled="actualizarKilometrajeForm.$invalid" >
        Actualizar
        </button>
        <br>
      </div>
      
    </div>
    <div id="informaciN-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Próximo Mantenimiento:</strong>
      </p>
    </div>

      <div id="informaciN-markdown3" class="show-list-numbers-and-dots" style="padding-top: 15px">
        <p style="color:#000000;">
          <strong>Servicios del vehículo:</strong>
        </p>
      </div>
          <div id="serviciosDeVehiculo" ng-repeat="item in selectedVehicleServices">
            <div class="row">

              <div class = "col col-75">
                <h5>{{item.nombre}}</h5>
              </div>
              <div class = "col col-12" >
                <button ui-sref="editarServicio()" ng-click="editarServicio('{{item.id}}', '{{item.nombre}}', '{{item.servTipo}}', '{{item.intervalo}}', '{{item.ultimoRealizado}}' )" class="icon ion-android-settings" style="font-size: 30px; background-color: #FFFFFF; border:none; vertical-align: middle; color:#666666"></button>
              </div>
              <div class = "col col-12">
                <button class="icon ion-android-remove-circle" style="font-size: 30px; background-color: #FFFFFF; border:none; vertical-align: middle; color:#A51D1D" ng-click="eliminarServicio('{{item.id}}')"></button>
              </div>

            </div>

          </div>


      <button ui-sref="agregarServicioPersonalizado()" id="informaciN-button1" class="button button-positive button-block">Agregar Servicio Perzonalizado</button>
      <button ui-sref="tabsController.listaDeVehiculos()" id="informaciN-button2" class="button button-positive button-block" ng-click="eliminarVehiculo('{{item.placa}}')" style="background-color: #A51D1D; margin-bottom: 10px">Eliminar Vehículo</button>
      
  </ion-content>
</ion-view>
