<ion-view title="Inicio" hide-nav-bar="true" id="page8">
  <ion-content padding="true" class="manual-ios-statusbar-padding" style="height: 100%">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <h1 id="inicio-heading1" style="color:#000000;text-align:center;">Nombre App</h1>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <button ui-sref="login()" id="inicio-button9" class="button button-positive button-block button-clear">Ingresar con cuenta premium</button>
    <a href="#/tabs/tabs/vehiculos" id="inicio-button10" class="button button-positive button-block button-clear">Continuar con la aplicación</a>
  </ion-content>
</ion-view>