<ion-view title="Lista de Vehículos" id="page2" ng-controller="DBControllerVehiculo">
  <ion-nav-buttons side="left" class="has-header">
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button ng-click="configurarVista()" class="icon ion-android-settings button buttons button-clear header-item">
    </button>
  </ion-nav-buttons>

  <div>

    <button class="button button-fab button-fab-bottom-right button-balanced icon ion-android-add animated fadeIn" ng-click="maximosVehiculosCrear()" id="listaDeVehiculos-button12" style="position: fixed !important; bottom: 120px;"></button>

  </div>
  <ion-content padding="true" class="has-header" id="listaVehiculos">
  <div >

  <div style="margin-top: 15px">
    <strong><h1 id="vacio" style="color: #E6E6E6; text-align: center; text-shadow: 0px 0px 2px #B4B4B4; font-size: 3.4em" ></h1></strong>
  </div>

      <div class="list animated fadeInDown" >


        <div class="item-thumbnail-left item" id="{{item.id}}" ng-repeat="item in registrosVehiculos">

          <img src="{{item.imagen}}" ng-click="showImage({{item.id}})" style="vertical-align: middle; border-radius: 50px;">

          <div class="row">
            <div class="col col-80" ng-click="setVehicle('{{item.alias}}', '{{item.id}}', '{{item.placa}}', '{{item.marca}}', '{{item.year}}', '{{item.color}}', '{{item.kilometraje}}')" ui-sref="tabsController2.informaciN()">

              <h2 id="titulo1">{{item.orden1}}</h2>
              <p id="titulo2">{{item.orden2}}</p>
              <p id="titulo3">{{item.orden3}}</p>
            </div>
            <div class="col col-20">

              <div style="vertical-align: text-bottom;">
                <button  class="icon ion-trash-a" style="font-size: 30px; background-color: #FFFFFF; border:none;text-align: bottom;  color:#bfbfbf;" ng-click="showConfirmEliminarVehiculo2('{{item.id}}','{{item.alias}}')"></button>
              </div>

            </div>

          </div>

        </div>

      </div>


    <div class="spacer" style="height: 5px;"></div>
  </div>

  </ion-content>

  <div class="publicidad" style="position: absolute; overflow:hidden; bottom: 0px; height: 100px; width: 100vw; z-index: 10000;">
    <a href="http://www.valvoline.com/es-latinamerica" class="linkpublicidad">
      <img src="#" class="imgpublicidad" style="max-width: 100% !important;">
    </a>
  </div>


  <script id="image-modal.html" type="text/ng-template">
    <div class="modal image-modal transparent" ng-click="closeModal()">
      <ion-pane class="transparent">
        <img ng-src="{{imageSrc}}" class="fullscreen-image"/>
      </ion-pane>
    </div>
  </script>
  <script id='orderPopup.html' type='text/ng-template'>
    <div>
    <p class="bold">Visualizar vehículo mediante:</p>
      <ion-radio class="wrapping-list" ng-model="choice2.value" ng-value="'Alias'" name="grupo1">Alias</ion-radio>
      <ion-radio class="wrapping-list" ng-model="choice2.value" ng-value="'Placa'" name="grupo1">Placa</ion-radio>
      <ion-radio class="wrapping-list" ng-model="choice2.value" ng-value="'Marca'" name="grupo1">Marca</ion-radio>
    </div>
    <div>
    <br>
    <p class="bold">Tamaño de letra:</p>
      <ion-radio class="wrapping-list" ng-model="choice.value" ng-value="'Pequeno'" name="grupo2">Pequeño</ion-radio>
      <ion-radio class="wrapping-list" ng-model="choice.value" ng-value="'Mediano'" name="grupo2">Mediano</ion-radio>
      <ion-radio class="wrapping-list" ng-model="choice.value" ng-value="'Grande'" name="grupo2">Grande</ion-radio>
    </div>
  </script>

</ion-view>
