<ion-view title="Login"  id="page9" >
  <ion-content padding="true" class="manual-ios-statusbar-padding">
  <div ng-controller="enviarCorreo">
    <form id="login-form21" class="list">
      <div style="margin: 0px; line-height: 30px;text-align: center; margin-bottom: 10px">
        <img src="img/logo_vehiculo.png" style="height: 150px; width: 150px; vertical-align: middle;">
      </div>
      <div id="email-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Email:</strong>
      </p>
    </div>
    <form id="email-form1" class="list">
      <label class="item item-input" id="email-input1">
        <input type="text" placeholder="">
      </label>
    </form>

    <div id="contraseña-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Contraseña:</strong>
      </p>
    </div>
    <form id="contraseña-form3" class="list" style="margin-bottom: 5px">
      <label class="item item-input" id="contraseña-input3">
        <input type="password" placeholder="">
      </label>
    </form>

      <div class="spacer" style="height: 3px;"></div>
      <button id="login-button7" ng-click="notificacion(5)" class="button button-positive button-block" style="margin-bottom: 5px">Ingresar</button>
      <button id="login-button99" ng-click="notificacion(15)" class="button button-positive button-block" style="margin-bottom: 5px">Ingresar22</button>
      <div class="spacer" style="height: 3px;"></div>
      <a ui-sref="registrarse()" id="login-button8" class="button button-positive button-block" style="margin-top: 5px; background-color: #652A22">Crear Ceunta</a>
      <a ui-sref="enviarCorreo()" id="login-button11" class="button button-dark button-block button-clear" style="margin-top: 5px">Olvidó su contraseña?</a>
    </form>
  </div>
  </ion-content>
</ion-view>