<ion-view title="Login" hide-nav-bar="true" id="page9">
  <ion-content padding="true" class="manual-ios-statusbar-padding" style="height: 100%">
    <form id="login-form21" class="list">
      <div style="margin: 0px; line-height: 130px; background-color: rgb(232, 235, 239); text-align: center; margin-bottom: 10px">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div id="email-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Email:</strong>
      </p>
    </div>
    <form id="email-form1" class="list">
      <label class="item item-input" id="email-input1">
        <input type="text" placeholder="">
      </label>
    </form>

    <div id="contraseña-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Contraseña:</strong>
      </p>
    </div>
    <form id="contraseña-form3" class="list" style="margin-bottom: 5px">
      <label class="item item-input" id="contraseña-input3">
        <input type="password" placeholder="">
      </label>
    </form>

      <div class="spacer" style="height: 3px;"></div>
      <button id="login-button7" class="button button-positive button-block" style="margin-bottom: 5px">Ingresar</button>
      <div class="spacer" style="height: 3px;"></div>
      <a ui-sref="registrarse()" id="login-button8" class="button button-positive button-block button-clear" style="margin-top: 5px">Crear Ceunta</a>
      <a ui-sref="enviarCorreo()" id="login-button11" class="button button-dark button-block button-clear" style="margin-top: 5px">Olvidó su contraseña?</a>
    </form>
  </ion-content>
</ion-view>