<ion-view title="Mantenimiento" id="page3">
<ion-nav-buttons side="left" class="has-header">
    <button ui-sref="tabsController.listaDeVehiculos()" class="button back-button buttons button-clear header-item">
      <i class="icon ion-android-arrow-back"></i> <span class="back-text"></span>
    </button>
  </ion-nav-buttons>
  
  <ion-content padding="true" class="has-header">
    <div class="row">
    	<div class="col col-60">
    		<label class="item item-input" id="mantenimiento-search1">
		        <i class="icon ion-search placeholder-icon"></i>
		        <input type="search" placeholder="">
      		</label>
    	</div>
    	<div class="col col-40" >
    		<a ui-sref="tabsController2.nuevoMantenimiento()" id="mantenimiento-button3" class="button button-positive button-block" style="margin-top: 0px">Agregar</a>
    	</div>
    </div>
    <div class="card">
	  <div class="item item-divider">
	    25-Abril-2017
	  </div>
	  <div class="item item-text-wrap">
	    <ul class = "list">
	    	<li class="item">
	    		Vehiculo 1
	    		<ul class = "list">
			    	<li class="item">
			    		<a ui-sref="infoServicio()"><div style="margin-bottom: 5px">Cambio de Aceite</div></a>
			    		<a ui-sref="infoServicio()"><div style="margin-bottom: 5px">Cambio de Bateria</div></a>
			    	</li>
			    </ul>
	    	</li>
	    	<li class="item">
	    		Vehiculo 2
	    		<ul class = "list">
			    	<li class="item">
				    	<a ui-sref="infoServicio()"><div style="margin-bottom: 5px">Cambio de Aceite</div></a>
			    		<a ui-sref="infoServicio()"><div style="margin-bottom: 5px">Cambio de Bateria</div></a>
			    	</li>
			    </ul>
	    	</li>
	    </ul> 
	    
	  </div>
	</div>
	<div class="card">
	  <div class="item item-divider">
	    02-Mayo-2017
	  </div>
	  <div class="item item-text-wrap ng-hide">
	    <ul class = "list">
	    	<li class="item">
	    		Vehiculo 1
	    		<ul class = "list">
			    	<li class="item">
			    		<a ui-sref="infoServicio()"><div style="margin-bottom: 5px">Cambio de Aceite</div></a>
			    		<a ui-sref="infoServicio()"><div style="margin-bottom: 5px">Cambio de Bateria</div></a>
			    	</li>
			    </ul>
	    	</li>
	    	<li class="item">
	    		Vehiculo 2
	    		<ul class = "list">
			    	<li class="item">
				    	<a ui-sref="infoServicio()"><div style="margin-bottom: 5px">Cambio de Aceite</div></a>
			    		<a ui-sref="infoServicio()"><div style="margin-bottom: 5px">Cambio de Bateria</div></a>
			    	</li>
			    </ul>
	    	</li>
	    </ul> 
	    
	  </div>
	</div>

	<div class="card">
	  <div class="item item-divider">
	    15-Mayo-2017
	  </div>
	  <div class="item item-text-wrap ng-hide">
	    <ul class = "list">
	    	<li class="item">
	    		Vehiculo 1
	    		<ul class = "list">
			    	<li class="item">
			    		<a ui-sref="infoServicio()"><div style="margin-bottom: 5px">Cambio de Aceite</div></a>
			    		<a ui-sref="infoServicio()"><div style="margin-bottom: 5px">Cambio de Bateria</div></a>
			    	</li>
			    </ul>
	    	</li>
	    	<li class="item">
	    		Vehiculo 2
	    		<ul class = "list">
			    	<li class="item">
				    	<a ui-sref="infoServicio()"><div style="margin-bottom: 5px">Cambio de Aceite</div></a>
			    		<a ui-sref="infoServicio()"><div style="margin-bottom: 5px">Cambio de Bateria</div></a>
			    	</li>
			    </ul>
	    	</li>
	    </ul> 
	    
	  </div>
	</div>

  </ion-content>
</ion-view>