<ion-view title="Mantenimientos" id="page3" ng-controller="DBControllerMantenimientos" cache-view="false">
<ion-nav-buttons side="left" class="has-header">
    <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item">
      <i class="icon ion-android-arrow-back"></i> <span class="back-text"></span>
    </button>
  </ion-nav-buttons>
  <div>
      <button class="button button-fab button-fab-bottom-right button-balanced icon ion-android-add" ui-sref="nuevoMantenimiento()" id="mantenimiento-button3" style="position: fixed !important;"></button>
    </div>
  <ion-content padding="true" class="has-header animated fadeInDown">
    <div class="row">
      <div class="col col-70">
        <label class="item item-input" id="mantenimiento-search1">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="date" placeholder="" id="fecha">
          </label>
      </div>
      <div class="col col-30" >
        <a id="mantenimiento-button3" ng-click="buscar()" class="button button-stable icon ion-android-search" style="margin-top: 0px">Buscar</a>
      </div>
    </div>

    <div >

      <ion-list>
        <div ng-repeat="item in vehicleMantenimientos | orderBy:'fecha'" style="margin-bottom: 10px; ">
        <div >
          <ion-item id="{{item.idreal}}" class="item-stable" style="background-color: #0a9ec7; color: #fff; padding-bottom: 5px; padding-top: 5px">
              <div class="row">
                <div id="{{item.idtoStyle2}}" class="col col-90">
                  &nbsp;
                {{item.fechaRealizado}}
                </div>
              </div>

          </ion-item>
          <div ng-repeat="items in vehicleInfoMantenimientos | filter : {id: item.id}">
          <ion-item id="{{items.idreal}}" class="item-accordion" style="background-color: #e8e8e8; border-color: rgba(121, 57, 52, 0.90); border-width: 2px" >
          <div class="row">
            <div id="{{items.idtoStyle}}" class="col col-80">
              {{items.nombre}}
              <ul class = "list">
                <li class="item" style="background-color: #e8e8e8; border: none;">
                  <p style="margin-bottom: 5px">Precio: ${{items.precio}}</p>
                  <p style="margin-bottom: 5px">Observacion: {{items.detalle}}</p>
                </li>
              </ul>
            </div>
            <div class="col col-20" style="margin-top: 10px; padding-top: 15px">

              <a class="icon ion-trash-a" style="font-size: 30px; background-color: #FFFFFF; border:none;text-align: bottom;  color:#0a9ec7; background: transparent; padding-left: 5px;" ng-click="popUpEliminarMantenimiento('{{items.idreal}}', '{{items.nombre}}')"></a>
            </div>
          </div>

          </ion-item>
          </div>
        </div>
        </div>
     </ion-list>
    </div>
  </ion-content>
</ion-view>
