<ion-view title="Modificar Informacion" id="pageMI" ng-controller= "DBControllerModificarInfo" cache-view="false">
  <ion-nav-buttons side="left" class="has-header">
    <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item">
      <i class="icon ion-android-arrow-back"></i> <span class="back-text"></span>
    </button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header animated fadeInRight" ng-repeat="item in selectedVehicle" style="margin: 1px 10px 0px 10px;">

    <div class="row">
      <div class="col col-100">
        <div style="margin: 0px; text-align: center;">
          <img id="fotos" src="{{item.imagen}}" style="height: 200px; width: 200px; vertical-align: middle; border-radius: 100px">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-50">
        <button class="button button-full button-calm icon ion-camera" ng-click="tomarFoto()"></button>
      </div>
      <div class="col col-50">
        <button class="button button-full button-calm icon ion-images" ng-click="fotoGaleria()"></button>
      </div>
    </div>

    <form id="formalias" class="list">

      <label class="item item-input" id="labelalias" style="margin-top: 8px">
        <span class="input-label bold">Alias:</span>
        <input type="text" value="hola" ng-model="updatedalias" name="updatedalias" id="updatedalias" >
      </label>
      <span class="messages" ng-show="formalias.$submitted || formalias.updatealias.$touched">
        <span ng-show="formalias.updatealias.$error.required">El Alias es un campo requerido.</span>
        <span ng-show="formalias.updatealias.$error.minlength || formalias.updatealias.$error.maxlength">  "El alias debe tener entre 3 y 20 caracteres.</span>
      </span>

      <label class="item item-input" id="modificarInfo-input30" style="margin-top: 8px">
        <span class="input-label bold">Placa:</span>
        <input ng-model="updatedplaca" name="updatedplaca" id="updatedplaca" type="text"  >
      </label>
      <span class="messages" ng-show="formalias.$submitted || formalias.updateplaca.$touched">
        <span ng-show="formalias.updateplaca.$error.required">La placa es un campo requerido.</span>
        <span ng-show="formalias.updateplaca.$error.minlength || formalias.updateplaca.$error.maxlength">La placa debe tener entre 6 y 8 caracteres.</span>
      </span>

      <label class="item item-select" id="agregarVehiculo-select5" style="margin-top: 8px; height: 50px; padding-top: 10px">
        <span class="input-label bold">Marca:</span>
        <select ng-model="newVehicle.idMarca" >
          <option  ng-repeat="marca in registrosPlacasVehiculos | orderBy:'nombre'" value="{{marca.id}}">{{marca.nombre}}</option>
        </select>
      </label>

      <label class="item item-input" id="modificarInfo-input12" style="margin-top: 8px">
        <span class="input-label bold">Año:</span>
        <input type="text" ng-model="updatedyear" id="updatedyear">
      </label>
      <span class="messages" ng-show="formalias.$submitted || formalias.updatedyear.$touched">
        <span ng-show="formalias.updatedyear.$error.minlength || formalias.updatedyear.$error.maxlength">  >El año debe tener 4 digitos.</span>
        <span ng-show="formalias.updatedyear.$error.min || formalias.updatedyear.$error.max">  "El año debe ser valido.</span>
      </span>

      <label class="item item-select" id="agregarVehiculo-select5" style="margin-top: 8px; height: 50px; padding-top: 10px">
        <span class="input-label bold">Color:</span>
        <select ng-model="newVehicle.newColor" name="newColor">
          <option ng-repeat="color in registrosColoresVehiculos " value="{{color.id}}">{{color.nombre}}</option>
        </select>
      </label>

      <button ng-disabled="formalias.$invalid" id="modificarInfo-button5" class="button button-positive button-block" ng-click="actualizarAlias('{{item.idVehiculo}}')">Actualizar</button>
    </form>
  </ion-content>
</ion-view>
