<ion-view title="Modificar Informacion" id="pageMI" ng-controller= "DBControllerModificarInfo" cache-view="false">
  <ion-nav-buttons side="left" class="has-header">
    <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item">
      <i class="icon ion-android-arrow-back"></i> <span class="back-text"></span>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button ui-sref="tabsController.listaDeVehiculos()" class="button home-button buttons button-clear header-item">
      <i class="icon ion-android-home"></i> <span class="back-text"></span>
    </button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header" ng-repeat="item in selectedVehicle" style="margin: 10px;"">

    <div class="row">
      <div class="col col-50">
        <div style="margin: 0px; text-align: center;">
          <img id="fotos" src="{{item.imagen}}" style="height: 120px; width: 120px; vertical-align: middle; border-radius: 60px">
        </div>
      </div>
      <div class="col col-40">
        <p>Subir foto de:</p>
        <button class="button button-full button-positive" ng-click="tomarFoto()">Camara</button>
        <button class="button button-full button-positive" ng-click="fotoGaleria()">Galeria</button>
      </div>
    </div>
    
    <form id="formalias" class="list">

      <label class="item item-input" id="labelalias" style="margin-top: 8px">
        <span class="input-label">Alias:</span>
        <input type="text" value="hola" ng-model="updatedalias" name="updatedalias" id="updatedalias" >
      </label>

      <label class="item item-input" id="modificarInfo-input30" style="margin-top: 8px">
        <span class="input-label">Placa:</span>
        <input ng-model="updatedplaca" name="updatedplaca" id="updatedplaca" type="text"  >
      </label>

      <label class="item item-input" id="modificarInfo-input11" style="margin-top: 8px">
        <span class="input-label">Marca:</span>
        <input type="text" ng-model="updatedmarca" name="updatedmarca" id="updatedmarca">
      </label>

      <label class="item item-input" id="modificarInfo-input12" style="margin-top: 8px">
        <span class="input-label">Año:</span>
        <input type="text" ng-model="updatedyear" id="updatedyear">
      </label>

      <label class="item item-input" id="modificarInfo-input13" style="margin-top: 8px">
        <span class="input-label">Color:</span>
        <input type="text" placeholder="{{item.color}}" ng-model="updatedcolor" id="updatedcolor">
      </label>
    
      <button id="modificarInfo-button5" class="button button-positive button-block" ng-click="actualizarAlias('{{item.idVehiculo}}')" ui-sref="tabsController2.informaciN()">Actualizar</button>
    </form>
  </ion-content>
</ion-view>

