<ion-view title="Nuevo Mantenimiento" id="page5" ng-controller='DBControllerAgregarMantenimiento'>

  <ion-nav-buttons side="right" class="has-header">
    <button ui-sref="tabsController.listaDeVehiculos()" class="button home-button buttons button-clear header-item">
      <i class="icon ion-android-home"></i> <span class="back-text"></span>
    </button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form name="nuevoMantenimiento" class="list">
      <div id="nuevoMantenimiento-markdown10" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Fecha del servicio:</p>
      </div>
        <label class="item item-input" id="nuevoMantenimiento-input5">
          <input name="fecha" ng-model="newMantenimiento.fecha" type="date" placeholder="fecha" ng-required="true">
        </label>
      <div id="nuevoMantenimiento-markdown11" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Servicio realizado:</p>
      </div>
        <label class="item item-select" id="nuevoMantenimiento-select2">
          <span class="input-label">servicio realizado:</span>
          <select ng-model="newMantenimiento.nombreServ" name="nombreServ" ng-required="true">
            <option ng-repeat="item in selectedVehicleServices" value="{{item.nombre}}"> {{item.nombre}} </option>
          </select>
        </label>
      <div id="nuevoMantenimiento-markdown14" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Valor de mantenimiento:</p>
      </div>
        <label class="item item-input" id="nuevoMantenimiento-input6">
          <input name="precio" ng-model="newMantenimiento.valor" type="number" placeholder="precio" ng-required="true" ng-maxlength="5">
        </label>
      <div id="nuevoMantenimiento-markdown15" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Kilometraje:</p>
      </div>
        <label class="item item-input" id="nuevoMantenimiento-input9">
          <input name="kilometraje" ng-model="newMantenimiento.kilometraje" type="number" placeholder="kilometraje" ng-required="true" ng-maxlength="10">
        </label>
      <div id="nuevoMantenimiento-markdown16" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Observación:</p>
      </div>
      <label class="item item-input" id="nuevoMantenimiento-textarea2" style="margin-bottom: 8px">
        <span class="input-label"></span>
        <textarea name="observacion" ng-model="newMantenimiento.obs" placeholder="observacion" ng-maxlength="100">
        </textarea>
      </label>
      <button ng-disabled="nuevoMantenimiento.$invalid" ui-sref="tabsController2.mantenimiento()" id="nuevoMantenimiento-button4" ng-click="agregarMantenimiento()" class="button button-positive button-block" style="margin-top: 10px">Aceptar</button>
  </form>

  <div ng-show="nuevoMantenimiento.$invalid">
      <h5 ng-show="nuevoMantenimiento.fecha.$error.required">* campo "fecha" requerido</h5>

      <h5 ng-show="nuevoMantenimiento.tipoCiclo.$error.required">* campo "tipo ciclo" requerido</h5>

      <h5 ng-show="nuevoMantenimiento.nombreServ.$error.required">* campo "servicio realizado" requerido</h5>

      <h5 ng-show="nuevoMantenimiento.precio.$error.required">* campo "precio" requerido</h5>
      <h5 ng-show="nuevoMantenimiento.precio.$error.maxlength">* campo "precio" debe de tener maximo 5 digitos</h5>

      <h5 ng-show="nuevoMantenimiento.kilometraje.$error.required">* campo "kilometraje" requerido</h5>
      <h5 ng-show="nuevoMantenimiento.kilometraje.$error.maxlength">* campo "kilometraje" debe de tener maximo 10 digitos</h5>

      <h5 ng-show="nuevoMantenimiento.observacion.$error.maxlength">* campo "observacion" debe de tener maximo 100 caracteres</h5>



    </div>
  </ion-content>
</ion-view>
