<ion-view title="Nuevo Mantenimiento" id="page5">

  <ion-nav-buttons side="right" class="has-header">
    <button ui-sref="tabsController.listaDeVehiculos()" class="button home-button buttons button-clear header-item">
      <i class="icon ion-android-home"></i> <span class="back-text"></span>
    </button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="nuevoMantenimiento-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Fecha del servicio:</p>
    </div>
    <form id="nuevoMantenimiento-form6" class="list">
      <label class="item item-input" id="nuevoMantenimiento-input5">
        <input type="date" placeholder="">
      </label>
    </form>
    <div id="nuevoMantenimiento-markdown11" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Servicio realizado:</p>
    </div>
    <form id="nuevoMantenimiento-form7" class="list">
      <label class="item item-select" id="nuevoMantenimiento-select2">
        <span class="input-label"></span>
        <select></select>
      </label>
      <label class="item item-input" id="nuevoMantenimiento-textarea1" style="margin-top: 15px; line-height: 40px;">
        <span class="input-label"></span><textarea placeholder=""></textarea>
      </label>
    </form>
    <div id="nuevoMantenimiento-markdown14" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Valor de mantenimiento:</p>
    </div>
    <form id="nuevoMantenimiento-form8" class="list">
      <label class="item item-input" id="nuevoMantenimiento-input6">
        <input type="number" placeholder="">
      </label>
    </form>
    <div id="nuevoMantenimiento-markdown15" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Kilometraje:</p>
    </div>
    <form id="nuevoMantenimiento-form11" class="list">
      <label class="item item-input" id="nuevoMantenimiento-input9">
        <input type="number" placeholder="">
      </label>
    </form>
    <div id="nuevoMantenimiento-markdown16" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Observación:</p>
    </div>
    <form id="nuevoMantenimiento-form12" class="list">
      <label class="item item-input" id="nuevoMantenimiento-textarea2" style="margin-bottom: 8px">
        <span class="input-label"></span><textarea placeholder=""></textarea></label>
      <button id="nuevoMantenimiento-button4" class="button button-positive button-block" style="margin-top: 10px">Aceptar</button>
    </form>
  </ion-content>
</ion-view>