
<ion-view title="nueva contraseña" id="page11">

  <ion-content padding="true" class="manual-ios-statusbar-padding" >
    <div style="margin: 0px; text-align: center;">
      <img src="img/logo_vehiculo.png" style="height: 130px; width: 130px; vertical-align: middle;">
    </div>
    <div id="nuevaContraseA-markdown29" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Ingrese código:</p>
    </div>
    <form id="nuevaContraseA-form23" class="list">
      <label class="item item-input" id="nuevaContraseA-input16">
        <input type="text" placeholder="">
      </label>
    </form>
    <div id="nuevaContraseA-markdown30" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Ingrese contraseña nueva:</p>
    </div>
    <form id="nuevaContraseA-form24" class="list">
      <label class="item item-input" id="nuevaContraseA-input17">
        <input type="password" placeholder="">
      </label>
    </form>
    <div id="nuevaContraseA-markdown31" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Repita la contraseña:</p>
    </div>
    <form id="nuevaContraseA-form25" class="list">
      <label class="item item-input" id="nuevaContraseA-input18">
        <input type="password" placeholder="">
      </label>
    </form>
    <button id="nuevaContraseA-button13" class="button button-positive button-block" style="margin-bottom: 20px">Reestrablecer</button>
  </ion-content>
  
</ion-view>
