<ion-view title="Nuevo Mantenimiento" id="page5" ng-controller='DBControllerAgregarMantenimiento'>

  <ion-nav-buttons side="right" class="has-header">
    <button ui-sref="tabsController.listaDeVehiculos()" class="button home-button buttons button-clear header-item">
      <i class="icon ion-android-home"></i> <span class="back-text"></span>
    </button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form name="nuevoMantenimiento" class="list">
    <div id="nuevoMantenimiento-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Fecha del servicio:</p>
    </div>
      <label class="item item-input" id="nuevoMantenimiento-input5">
        <input ng-model="newMantenimiento.fecha" type="date" placeholder="">
      </label>
    <div id="nuevoMantenimiento-markdown11" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Servicio realizado:</p>
    </div>
      <label class="item item-select" id="nuevoMantenimiento-select2">
        <span class="input-label"></span>
        <select ng-model="newMantenimiento.nombreServ" name="nombreServ" ng-required="true">
          <option ng-repeat="item in selectedVehicleServices" value="{{item.nombre}}"> {{item.nombre}} </option>
        </select>
      </label>
    <div id="nuevoMantenimiento-markdown14" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Valor de mantenimiento:</p>
    </div>
      <label class="item item-input" id="nuevoMantenimiento-input6">
        <input ng-model="newMantenimiento.valor" type="number" placeholder="">
      </label>
    <div id="nuevoMantenimiento-markdown15" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Kilometraje:</p>
    </div>
      <label class="item item-input" id="nuevoMantenimiento-input9">
        <input ng-model="newMantenimiento.kilometraje" type="number" placeholder="">
      </label>
    <div id="nuevoMantenimiento-markdown16" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Observación:</p>
    </div>
      <label class="item item-input" id="nuevoMantenimiento-textarea2" style="margin-bottom: 8px">
        <span class="input-label"></span>
        <textarea ng-model="newMantenimiento.obs" placeholder="">
        </textarea>
      </label>
      <button ui-sref="tabsController2.mantenimiento()" id="nuevoMantenimiento-button4" ng-click="agregarMantenimiento()" class="button button-positive button-block" style="margin-top: 10px">Aceptar</button>
  </form>
  
  </ion-content>
</ion-view>
