
<ion-view title="Próximos Mantenimientos" id="page4" ng-controller="proximosMantenimientos" cache-view="false">

<ion-nav-buttons side="left" class="has-header">
    <button ui-sref="tabsController.listaDeVehiculos()" class="button back-button buttons button-clear header-item">
      <i class="icon ion-android-arrow-back"></i> <span class="back-text"></span>
    </button>
  </ion-nav-buttons>

  <ion-content padding="true" class="has-header animated slideInRight" >


    <div class="row">
      <div class="col col-70">
        <label class="item item-input" id="mantenimiento-search1">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="date" placeholder="" id="fecha">
          </label>
      </div>
      <div class="col col-30" >
        <a id="mantenimiento-button3" ng-click="buscar()" class="button button-stable icon ion-android-search" style="margin-top: 0px">Buscar</a>
      </div>
    </div>
    <div style="margin-bottom: 10px">
      <p>Mostrar Mantenimientos a realizar por:</p>
      <label class="item item-select custom-input" id="agregarServicioPersonalizado-select3">
        <span class="input-label"></span>
        <select id="vista" style="text-align: left;" ng-model="servicioEditado.tipo_intervalo" name="tipoCiclo" ng-required="true" ng-change="onChanged()">
          <option>Kilometraje</option>
          <option>Fecha</option>
        </select>
      </label>
    </div>
    <ion-list>
        <div ng-repeat="item in selectedVehicleMantenimientos | orderBy:'fecha'" style="margin-bottom: 10px; ">
          <ion-item class="item-stable" style="background-color: #0a9ec7; color: #fff; padding-bottom: 5px; padding-top: 5px">
              <div class="row">
              	<div id="{{item.idtoStyle}}" class="col col-90">
              		&nbsp;
            		  {{item.mostrar}}
              	</div>
              </div>

          </ion-item>
          <div>
          <ion-item  class="item-accordion" style="background-color: #e8e8e8; border-color: rgba(121, 57, 52, 0.90); border-width: 2px" >
            <div id="{{item.idtoStyle2}}">
              {{item.nombre}}
            </div>
            <ul class = "list">
			    	<li class="item" style="background-color: #e8e8e8; border: none;">
			    		<p style="margin-bottom: 5px">Alias: {{item.alias}} </p>
              <p style="margin-bottom: 5px">Placa: {{item.placa}} </p>
			    	</li>
			    </ul>
          </ion-item>
          </div>
        </div>
     </ion-list>

     <div class="spacer" style="height: 100px;"></div>
  </ion-content>
</ion-view>
