<ion-view title="registrarse" hide-nav-bar="true" id="page12">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <form id="registrarse-form26" class="list">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="spacer" style="width: 300px; height: 27px;"></div>
      <div id="registrarse-markdown32" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Usuario:</p>
      </div>
      <label class="item item-input" id="registrarse-input22">
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 14px;"></div>
      <div id="registrarse-markdown33" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Correo:</p>
      </div>
      <label class="item item-input" id="registrarse-input23">
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 14px;"></div>
      <div id="registrarse-markdown34" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Escriba la contraseña:</p>
      </div>
      <label class="item item-input" id="registrarse-input24">
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 14px;"></div>
      <div id="registrarse-markdown35" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Repita la contraseña:</p>
      </div>
      <label class="item item-input" id="registrarse-input25">
        <input type="text" placeholder="">
      </label>
      <button id="registrarse-button14" class="button button-stable button-block">Crear</button>
    </form>
  </ion-content>
</ion-view>